@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Proveedores</h1>

</div>

<div class="text-center">
    <img src="~/img/proovedores.jpg" style="max-width: 50%; height: auto;" class="img-fluid" alt="Imagen de Proveedores">
</div>






